<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/search.css" />
    <title>Find your next Binge</title>
</head>
<body>
    <div class="wrap">
        <form action="{% url 'recs' %}" method="POST">
        <div class="search">
            {% csrf_token %}
           <input type="text" class="searchTerm" placeholder="What have you watched?" name="watched">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
        </form>
    </div> 
</body>
</html>